<html>
     
<head>
<style>
</style>
</head>               
<body>      
    <div>
        <img src="/assets/img/Rectangle 856@2x.png" class="Rectangle-856" alt="Responsive image">
        <img src="/assets/img/Group 46@2x.png" class="Rectangle-869" alt="Responsive image">
        <img src="/assets/img/Please Sign In.png" class="Please-Sign-In" alt="Responsive image">
        <img src="/assets/img/to your account.png" class="to-Your-Account" alt="Responsive image">
        <img src="/assets/img/username (2).png" class="Username" alt="Responsive image">
        <img src="/assets/img/Password.png" class="Password" alt="Responsive image">
        <img src="/assets/img/Sign In.png" class="Sign-In" alt="Responsive image">
   </div>
   <form>
        <input type="text" name="Username" class="Rectangle-867" placeholder="Username">   
        <img src="/assets/img/user.png" class="user" alt="Responsive image">    
   </form>        
   <form>
        <input type="text" name="Password" class="Rectangle-898" placeholder="Password">      
        <img src="/assets/img/password (2).png" class="Path-457" alt="Responsive image">  
   </form>   
   <form>
        <input type="submit" class="Rectangle-866" value="">
        <img src="/assets/img/Sign In.png" class="Sign-In" alt="Responsive image">
   </form>    
</body>
</html>